@import './base/reset';
@import './base/common';
@import './utils/vars';
@import './components/container';

@import './header';
@import './components/hero';
@import './components/advantages';
@import './components/work';
@import './components/team';
@import './components/clients';
@import './components/footer';
@import './components/portfolio';
@import './components/modal';

/* Variables */
/* Global */
/* 1. Header */
/* 2. Hero */
/* 3. Advantages */
/* 4. Work */
/* 4. Team */
/* 5. Clients */
/* 6. Footer */
/* 7.Portfolio */
/* 8. Modal */
