.advantages {
  padding: 94px 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}

.icon-advantages {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.advantages-item:nth-child(4n) {
  margin-right: 0;
}

.advantages-item .section-title {
  margin-bottom: 10px;
}
