/* 1.1 site-nav */

.header.section {
  border-bottom: 1px solid #ececec;
}

.container.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: inline-block;
  padding: 24px 0 25px;
  margin-right: 93px;

  color: var(--logo-color);

  font-family: 'raleway', sans-serif;
  font-size: 26px;
  line-height: 1.2;
}

.header-list .link {
  display: block;
  padding: 32px 0 32px;

  color: var(--main-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:focus,
.header-link:hover {
  color: var(--accent-color);
}

.header-list {
  display: flex;
}

.header-list .item:not(:first-child) {
  margin-left: 50px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.item-current {
  position: relative;
}

.header-nav .link.current {
  color: #2196f3;
}

.link.current::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

/* 1.2 contacts */

.contacts {
  display: flex;
  align-items: center;
  & .link:hover,
  & .link:focus {
    color: var(--accent-color);
  }
}

.contacts .item:not(:first-child) {
  margin-left: 50px;
}

.mail,
.phone {
  display: inline-flex;
  padding: 32px 0 32px;
  align-items: center;
  color: var(--secondary-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-header-contact {
  margin-right: 10px;
  fill: currentColor;
  &:hover,
  &:focus {
    fill: #2196f3;
  }
}
