.team {
  padding: 94px 0;
  background-color: #f5f4fa;
}

.team-list .carts {
  background-color: var(--footer-logo-color);
  width: calc((100% - 90px) / 4);

  text-align: center;
}

.carts:not(:last-child) {
  margin-right: 30px;
}

.carts {
  margin-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list {
  display: flex;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-color);
}

.list-social .icon-social {
  display: block;
}

.list-social {
  display: flex;
  justify-content: center;
}

.icon-social {
  padding: 12px;
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-social:hover,
.icon-social:focus,
.icon-social:active {
  fill: #ffffff;
}

.link-social {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  color: #afb1b8;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-social {
  fill: currentColor;
}

.link-social:hover,
.link-social:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.item-social {
  margin-right: 10px;
}

.item-social:nth-child(4n) {
  margin-right: 0;
}

.team-container {
  padding: 30px 0;

  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
