.clients {
  padding: 94px 0;
  text-align: center;
}

.clients-list {
  display: flex;
}

.clients-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #2196f3;
    border-color: #2196f3;
  }
}

.clients-item {
  display: block;
  &:nth-child(6n) {
    margin-right: 0;
  }
}

.link-icon {
  fill: currentColor;
}
