.footer {
  padding: 60px 0;
  .container {
    display: flex;
    align-items: baseline;
  }
}

.logo-address {
  margin-right: 70px;
}

.footer,
.footer-address,
.footer-contact {
  background-color: var(--hero-footer-background);
  @include font(14px, null, 1.14, null);

  font-style: normal;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--footer-logo-color);

  font-family: 'raleway', sans-serif;
  @include font(26px, null, 1.19, null);
}

.footer-address {
  color: var(--footer-logo-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-contact-list .item:not(:last-child) {
  margin-bottom: 9px;
}

.title-social {
  margin-bottom: 20px;
  @include font(14px, null, 1.14, 0.03em);
  text-transform: uppercase;
  color: #ffffff;
}

.footer-social {
  display: flex;
}

.social-networcs .link {
  @extend %flex-align;
  justify-content: center;
  height: 44px;
  width: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networcs .link:hover,
.social-networcs .link:focus {
  background-color: var(--accent-color);
}

.footer-icon-social {
  fill: #ffffff;
}

.social-networcs .item:not(:last-child) {
  margin-right: 10px;
}

.subscribe {
  display: flex;
  align-items: flex-end;

  margin-left: 93px;

  width: 570px;
  height: 86px;
}

.form-subscribe {
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-bottom: 20px;

@include font(14px, 700, 1.14, 0.03em);
  text-transform: uppercase;

  color: #ffffff;
}

.form-input {
  display: block;
  padding: 15px 15px 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  height: 50px;

  @include font(16px, null, 1.25, 0.03em);
  
  background-color: transparent;
  color: #ffffff;

}

.sub-btn {
  @extend %flex-align;
  justify-content: center;
  margin-left: 12px;
  padding: 10px 28px;

  @include font(16px, 700, 1.88, 0.06em);
  text-align: center;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  color: #ffffff;

  cursor: pointer;
}

.icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
