/* 1.1 site-nav */

.header.section {
  border-bottom: 1px solid #ececec;
}

.container.header {
  @extend %flex-align;
  justify-content: space-between;
}

.header-logo {
  display: inline-block;
  padding: 24px 0 25px;
  margin-right: 93px;

  color: var(--logo-color);

  font-family: 'raleway', sans-serif;
  font-size: 26px;
  line-height: 1.2;
}

.header-list {
  display: flex;

  .link {
    display: block;
    padding: 32px 0 32px;

    color: var(--main-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  & .item:not(:first-child) {
    margin-left: 50px;
  }
}

.header-link:focus,
.header-link:hover {
  color: var(--accent-color);
}

.header-nav {
  @extend %flex-align;

  .link.current {
    color: #2196f3;
    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 4px;
      background-color: #2196f3;
      border-radius: 2px;
    }
  }
}

.item-current {
  position: relative;
}

/* 1.2 contacts */

.contacts {
  @extend %flex-align;

  .link:hover,
  .link:focus {
    color: var(--accent-color);
  }

  .item:not(:first-child) {
    margin-left: 50px;
  }
}

.mail,
.phone {
  @extend %flex-align;
  padding: 32px 0 32px;
  color: var(--secondary-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-header-contact {
  margin-right: 10px;
  fill: currentColor;

  &:hover,
  &:focus {
    fill: #2196f3;
  }
}
