/* buttons for portfolio */
.buttons {
  display: flex;
  justify-content: center;
  padding: 94px 0 50px;
}

.btn {
  display: block;
  padding: 6px 22px;
  font-family: inherit;
  background-color: #f5f4fa;
  cursor: pointer;
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1.63;
  border: 0;
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--footer-logo-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.item-btn:not(:last-child) {
  margin-right: 8px;
}

.btn.current {
  background-color: var(--accent-color);
  color: var(--footer-logo-color);
}

/* fonts in portfolio */

.list-examples {
  display: flex;
  padding-bottom: 94px;
  flex-wrap: wrap;
  justify-content: center;
}

.item-work {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);

    .thamb-portfolio-img::before,
    .text-for-img {
      opacity: 1;
      transform: translateY(-300px);
    }
  }
}

.mini-container {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.section.examples .section-title {
  color: var(--main-text-color);
  font-size: 18px;
  line-height: 2;
}

.section.examples .section-text {
  font-size: 16px;
  line-height: 1.88;
}

.thamb-portfolio-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 300px;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.text-for-img {
  position: absolute;
  top: 300px;
  right: 0;
  padding: 63px 24px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  letter-spacing: 0.03em;

  color: #ffffff;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.thamb-link:focus .thamb-portfolio-img::before,
.thamb-link:focus .text-for-img {
  opacity: 1;
  transform: translateY(-300px);
}
